@page "/electoralPositions/create"

<h3>Crear cargo electoral</h3>

<FormWithName @ref="electoralPositionForm" Label="Cargo electoral:" Model="electoralPosition" OnValidSubmit="CreateAsync" ReturnAction="Return" />
