@page "/electoralPositions"

<h3>Cargos electorales</h3>

<div class="mb-3">
    <a class="btn btn-primary" @onclick =@(()=> ShowModalAsync())>Nuevo Cargo Electoral</a>
</div>

<GenericList MyList="ElectoralPositions">
    <Body>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordsNumber="SelectedRecordsNumberAsync" />

        <GenericFilter PlaceHolder="Buscar Cargos Electorales..."
                       SelectedFilter="ApplyFilterAsync" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Cargo Electoral
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var electoralPosition in ElectoralPositions!)
                {
                    <tr>
                        <td>
                            @electoralPosition.Name
                        </td>
                        <td>
                            <a h @onclick =@(()=> ShowModalAsync(@electoralPosition.Id,true)) class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(electoralPosition))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </Body>
</GenericList>

@code {
}
