@page "/electoralPositions/create"

<h3>Crear posición electoral</h3>

<ElectoralPositionForm @ref="electoralPositionForm" ElectoralPosition="electoralPosition" OnValidSubmit="CreateAsync" ReturnAction="Return" />