@page "/electoralJourneys/create"

<h3>Crear jornada electoral</h3>

<ElectoralJourneyForm @ref="electoralJourneyForm" ElectoralJourney="electoralJourney" OnValidSubmit="CreateAsync" ReturnAction="Return"/> 