@page "/electoralJourneys"
@inject IRepository repository

<h3>Jornadas electorales</h3>

<div class="mb-3">
    <a class="btn btn-primary" @onclick =@(()=> ShowModalAsync())>Nueva Jornada Electoral</a>
</div>

<GenericList MyList="ElectoralJourneys">
    <Body>
        <GenericPagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordsNumber="SelectedRecordsNumberAsync" />

        <GenericFilter PlaceHolder="Buscar Jornada Electoral..."
                       SelectedFilter="ApplyFilterAsync" />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Jornada
                    </th>
                    <th>
                        Fecha hora inicio
                    </th>
                    <th>
                        Fecha hora fin
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var electoralJourney in ElectoralJourneys!)
                {
                    <tr>
                        <td>
                            @electoralJourney.Name
                        </td>
                        <td>
                            @electoralJourney.Date
                        </td>
                        <td>
                            @electoralJourney.DateFinish
                        </td>
                        <td>
                            <a  @onclick =@(()=> ShowModalAsync(@electoralJourney.Id,true)) class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(electoralJourney))>Borrar</button> 
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </Body>
</GenericList>
