
<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Jornada Electoral:</label>
        <div>
            <select class="form-select" @bind="vote.ElectoralJourneyId">
                <option value="0">-- Seleccione Jornada Electoral --</option>
                @if (electoralJourneys is not null)
                {
                    @foreach (var Journeys in electoralJourneys)
                    {
                        <option value="@Journeys.Id" selected="@(Journeys.Id == electoralJourneyIdselected)">@Journeys.Name</option>
                    }
                }
            </select>
        </div>
    </div>



</EditForm>



