@page "/ElectoralCandidateCreate/create"
<h3>Postulación de Candidatos</h3>
 
<ElectoralCandidateForm @ref="electoralCandidateForm" electoralCandidate="electoralCandidate" OnValidSubmit="Create" ReturnAction="Return" />
   