@page "/Login"


<Div Margin="Margin.IsAuto.OnX" Width="Width.Is50">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
        Inicia sesión en tu Cuenta
    </Heading>

    <Card Shadow="Shadow.Default">
        <CardBody>
            <Validations @ref="validations" Mode="ValidationMode.Auto" Model="@loginDTO" ValidateOnLoad="false">
                <Validation>
                    <Field>
                        <FieldLabel>
                            Email
                        </FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="name@email.com" Role="TextRole.Email" @bind-Text="@loginDTO.Email">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field>
                        <FieldLabel>
                            Password
                        </FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="********" Role="TextRole.Password" @bind-Text="@loginDTO.Password">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>
                <Field Flex="Flex.Wrap.JustifyContent.Between">
                    <Anchor To="/RecoverPassword" TextColor="TextColor.Primary">
                        ¿Olvidaste tu contraseña?
                    </Anchor>
                </Field>
                <Field>
                    <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit Clicked="LoginAsync">
                        Iniciar Sesión
                    </Button>
                </Field>
                <Field>
                    ¿Aún no tienes cuenta? <Anchor To="register" TextColor="TextColor.Primary">Regístrate!</Anchor>
                </Field>
                <Field>
                    ¿Necesitas activar tu cuenta? <Anchor To="/ResendToken" TextColor="TextColor.Primary">Reenviar correo de activación</Anchor>
                </Field>
            </Validations>
        </CardBody>
    </Card>
</Div>
