@page "/votingstations"
<h3>Puestos de Votación</h3>
<div class="mb-3">
    <a class="btn btn-primary" href="/votingstation/create">Nuevo Puesto de Votación</a>
</div>
<GenericList MyList="VotingStations">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Puesto de Votación</th>
                    <th>Mesas de Votación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var votingstation in VotingStations!)
                {
                    <tr>
                        <td>
                            @votingstation.Name
                        </td>
                        <td>
                            @votingstation.ZoningNumber
                        </td>
                        <td>
                            <a href="/votingstations/edit/@votingstation.Id" class="btn btn-warning btn-sm">Editar</a>
                            <a href="/votingstations/details/@votingstation.Id" class="btn btn-info btn-sm">Detalles</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(votingstation))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

