@page "/votingstations/details/{VotingStationId:int}"

@if (votingStation is null)
{
    <Loading />
}
else
{
    <h3>@votingStation.Name</h3>
    <div class="mb-2">
        <a class="btn btn-primary" href="/zoning/create/@votingStation.Id">Nueva mesa de votación</a>
        <a class="btn btn-success" href="/votingstations">Regresar</a>
    </div>

    <h4>Mesas de votación</h4>
    <GenericList MyList="zonings!">
        <Body>
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync"
                        RecordsNumber="SelectedRecordsNumberAsync"/>

            <GenericFilter PlaceHolder="Buscar Mesa de votación..."
                           SelectedFilter="ApplyFilterAsync" />

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mesa de Votación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var zoning in zonings!)
                    {
                        <tr>
                            <td>
                                @zoning.ZoningNumber
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="/zoning/edit/@zoning.Id">Editar</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(zoning))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}
