@page "/votingstation"
<h3>Puestos de Votación</h3>
<div class="mb-3">
    <a class="btn btn-primary" href="/votingstation/create">Nuevo Puesto de Votación</a>
</div>
<GenericList MyList="VotingStations">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Puesto de Votación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var votingstation in VotingStations!)
                {
                        <tr>
                            <td>
                            @votingstation.Name
                            </td>
                            <td>
                                    <a href="/votingstation/edit/@votingstation.Id" class="btn btn-warning">Editar</a>
                                    <button class="btn btn-danger" @onclick=@(() => DeleteAsync(votingstation))>Borrar</button>
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

