@page "/votingstations/details/{VotingStationId:int}"

@if (votingStation is null)
{
    <Loading />
}
else
{
    <h3>@votingStation.Name</h3>
    <div class="mb-2">
        <a class="btn btn-primary" href="/zoning/create/@votingStation.Id">Nueva mesa de votación</a>
        <a class="btn btn-success" href="/votingstations">Regresar</a>
    </div>

    <h4>Mesas de votación</h4>
    <GenericList MyList="zonings!">
        <Body>
            <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                <div>
                    <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar mesas de votación..." @bind-value="Filter" />
                </div>
                <div class="mx-1">
                    <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync"><i class="bi bi-funnel" /> Filtrar</button>
                    <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync"><i class="bi bi-x-circle" /> Limpiar</button>
                </div>
            </div>
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync" />

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mesa de Votación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var zoning in zonings!)
                    {
                        <tr>
                            <td>
                                @zoning.ZoningNumber
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="/zoning/edit/@zoning.Id">Editar</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(zoning))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}
